html {
  box-sizing: border-box;
}

*, *::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ol {
  list-style-type: none;
  margin:0;
  padding:0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
